@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;400&display=swap');

$body-font: 'Source Serif Pro', serif;
$head: 'Source Serif Pro', serif;

$red:#FA2021;
$black:#0B1C39;
$grey:#F0F0F2;
$grey-texte:#777777;

//Media Query

$breakpoints: (
        desktop: 769px,
);

//== Media queries breakpoints
@mixin desktop {
  @media screen and  (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}
